.bottom-panel {
  display: flex;
  margin: 10px 30px;
}

.new-post-label {
  height: 35px;
  background-color: rgb(53, 53, 53);
  border-style: none;
  border-radius: 5px;
  background: linear-gradient(315deg, #303030, #393939);
  box-shadow: -3px -3px 6px #2d2d2d, 3px 3px 6px #3d3d3d;
}

.add-button {
  font-weight: bold;
  font-size: 12px;
  height: 35px;
  margin-left: 5px;
  border-style: none;
  background-color: rgb(53, 53, 53);
  cursor: pointer;
  border-radius: 3px;
  background: linear-gradient(315deg, #303030, #393939);
  box-shadow: -3px -3px 6px #2b2b2b, 3px 3px 6px #3f3f3f;
  transition: 0.2s;
  &:hover {
    background: linear-gradient(315deg, #303030, #393939);
    box-shadow: -4px -4px 8px #2b2b2b, 4px 4px 8px #3f3f3f;
  }
  &:focus {
    outline: none;
  }
}
