* {
  font-family: "Josefin Sans", sans-serif;
}

.app {
  width: 600px;
  background-color: rgb(53, 53, 53);
  margin: 50px auto;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}
