.search-input {
  margin-left: 30px;
  height: 38px;
  background-color: rgb(53, 53, 53);
  border-style: none;
  border-radius: 5px;
  background: linear-gradient(315deg, #303030, #393939);
  box-shadow: -3px -3px 6px #2d2d2d, 3px 3px 6px #3d3d3d;
}
